body{
    background-image: url(photo/plaza2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width: 200px;
    height: 200px;
    animation: animacija 5s linear infinite;
}
a{
    text-decoration: none;
}
@keyframes animacija {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}